<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:include="/_head"/>
</head>
<body>

<th:block th:include="/_header"/>

<main class="container mt-3">

    <div class="row">
        <div class="col text-center">
            <h1>Notes</h1>
        </div>
    </div>

    <div th:if="${notes.empty}" class="row no-gutters">
        <p>Không tìm thấy kết quả.</p>
    </div>


    <div th:each="note : ${notes}" class="row no-gutters border-bottom pt-3 pb-3">
        <div class="col col-xs-12">
            <h2 th:text="${note.getTitle()}">...</h2>
            <p th:text="${note.getDescription()}">...</p>
            <img th:unless="${note.getImage().empty}" th:src="${note.getImage()}" class="img-thumbnail"/>
        </div>
    </div>

</main>

<th:block th:include="/_footer"/>

</body>
</html>