<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div th:replace="_header :: header"></div>

<main class="container mt-3">

    <div class="row">
        <div class="col text-center">
            <h1>Notes</h1>
        </div>
    </div>

    <div th:if="${notes.empty}" class="row no-gutters">
        <p>Không tìm thấy kết quả.</p>
    </div>


    <div th:each="note : ${notes}" class="row no-gutters border-bottom pt-3 pb-3">
        <div class="col col-xs-12">
            <h2 th:text="${note.getTitle()}">...</h2>
            <p th:text="${note.getDescription()}">...</p>
            <img th:unless="${note.getImage().empty}" th:src="${note.getImage()}" class="img-thumbnail"/>
        </div>
    </div>

</main>

<div th:replace="_footer :: footer"></div>

</body>
</html>